In [1]:
"""syntax - for i in range() :
                statements
for iterrable_variable in sequence :
"""

'syntax - for i in range() :\n                statements\nfor iterrable_variable in sequence :\n'

In [2]:
l="hello world"
for i in l :
    print(i, end="")

hello world

In [3]:
l=["hello world",7,8.4,43]
for i in l :
    print(i, end=" , ")

hello world , 7 , 8.4 , 43 ,

In [4]:
l=["hello world"]
for i in l :
    #l.append(i)
    print(i)

hello world

In [9]:
l=['saurabh','ranani','rahul','rony']
l2=[]
for i in range(0,len(l)) :
    l2.append(l[i][0].upper())
print(l2)

['S', 'R', 'R', 'R']

In [10]:
l=['saurabh','ranani',['rahul','rony']]
print(l[2][0][1])

a

In [11]:
for i in range(0,101,+5):
    print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [29]:
for i in range(10) :
    for j in range(10) :
        print("x", end = " ")
    print()

x x x x x x x x x x
x x x x x x x x x x
x x x x x x x x x x
x x x x x x x x x x
x x x x x x x x x x
x x x x x x x x x x
x x x x x x x x x x
x x x x x x x x x x
x x x x x x x x x x
x x x x x x x x x x

In [35]:
for i in range(6) :
    for j in range(6) :
        if i==2 and j==3 :
            print("y", end = " ")
        else:
            print("_", end = " ")
    print()

_ _ _ _ _ _
_ _ _ _ _ _
_ _ _ y _ _
_ _ _ _ _ _
_ _ _ _ _ _
_ _ _ _ _ _

In [47]:
for i in range(7) :
    for j in range(7) :
        if i==j :
            print("*", end = " ")
        elif j==6-i :
            print("*", end = " ")
        else :
            print("_", end = " ")
    print()

* _ _ _ _ _ *
_ * _ _ _ * _
_ _ * _ * _ _
_ _ _ * _ _ _
_ _ * _ * _ _
_ * _ _ _ * _
* _ _ _ _ _ *

In [71]:
for i in range(9) :
    for j in range(9) :
        if i in [0,4,8] and j<4 or j==0 :
            print("*", end = " ")
        elif i in [1,3,5,7] and j in [5] :
            print("*", end = " ")
        elif i in [2,6] and j==6 :
            print("*", end = " ")
        else :
            print(" ", end = " ")
    print()

* * * *
*         *
*           *
*         *
* * * *
*         *
*           *
*         *
* * * *

In [75]:
import random

In [79]:
l=[]
for i in range(50) :
    l.append(random.randint(500,1000))
print(l, end = " ")

[544, 846, 568, 748, 534, 985, 807, 540, 576, 848, 766, 957, 510, 867, 644, 665, 559, 694, 870, 522, 735, 787, 835, 506, 916, 839, 512, 774, 622, 622, 961, 811, 837, 554, 554, 796, 769, 651, 731, 674, 569, 528, 857, 686, 929, 584, 526, 522, 631, 698]

In [81]:
#list comprehension
l=[random.randint(500,1000) for i in range(50)]
print(l, end = " ")

[518, 572, 883, 578, 905, 814, 586, 857, 774, 529, 870, 960, 822, 875, 948, 984, 731, 874, 928, 714, 606, 575, 614, 535, 989, 743, 691, 526, 774, 617, 756, 703, 876, 855, 537, 930, 812, 879, 586, 578, 563, 723, 730, 842, 623, 537, 680, 514, 633, 908]

In [96]:
l = [i for i in range(50) if i%11==0]
l

[0, 11, 22, 33, 44]

In [108]:
l = [ i**2 if i%2==0 else i**3 for i in range(101) ]
print(l, end = "")

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729, 100, 1331, 144, 2197, 196, 3375, 256, 4913, 324, 6859, 400, 9261, 484, 12167, 576, 15625, 676, 19683, 784, 24389, 900, 29791, 1024, 35937, 1156, 42875, 1296, 50653, 1444, 59319, 1600, 68921, 1764, 79507, 1936, 91125, 2116, 103823, 2304, 117649, 2500, 132651, 2704, 148877, 2916, 166375, 3136, 185193, 3364, 205379, 3600, 226981, 3844, 250047, 4096, 274625, 4356, 300763, 4624, 328509, 4900, 357911, 5184, 389017, 5476, 421875, 5776, 456533, 6084, 493039, 6400, 531441, 6724, 571787, 7056, 614125, 7396, 658503, 7744, 704969, 8100, 753571, 8464, 804357, 8836, 857375, 9216, 912673, 9604, 970299, 10000]

In [123]:
#tuple comprehension
t = (i for i in range(100))
print(list(t),end = "")
#print(tuple(t),end = "")
#print(*(t),end = "")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [126]:
#set comprehension
s= {random.randint(1,10) for i in range(50)}
print(s, end = "")

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}