In [1]:
import mysql.connector

In [2]:
con = mysql.connector.connect(host = 'localhost' , user = 'root' , database = 'student')

In [4]:
cursor = con.cursor()
query = 'show tables'
cursor.execute(query)
for var in cursor :
    print(var)

('address',)
('fees',)
('fees_status',)
('student',)